.margin1 {
  display: inline-block;
  .count {
    margin: 15px;
    float: left;
    font-size: 60px;
    line-height: 42px;
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 400;
    p {
      text-align: center;
    }
  }
}
