.bridalparty {
  .maid.img-circle {
    height: 250px;
    width: 100%;
  }
  .info {
    font-size: 16px;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
  }
  .description {
    font-family: Lora;
    font-size: 16px;
    font-weight: 700;
    color: #d884b9;
    letter-spacing: 1.2px;
  }
}
