.groomsparty {
  text-align: center;
  .men.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
  }
  .info {
    font-size: 16px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
  }
  .description {
    font-family: Lora;
    font-size: 16px;
    font-weight: 700;
    color: #d884b9;
    letter-spacing: 1.2px;
  }
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 350px;
}
