.accommodation {
  padding-top: 100px;
  margin-bottom:150px;
  .hotelinfo {
    .hotelsPic-rounded {
      height: 400px;
      width: 100%;
    }
    @media only screen and (max-width: 700px) {
      .hotelsPic-rounded {
        height: 200px;
      }
    }
  }
}
