.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b6bad6;
  color: white;
  text-align: center;
  height: 15vh;
  z-index: 1;
  .logo {
    padding-top: 6vh;
  }
}
