.title-page {
  background-image: url('./images/background/titlepage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 5%;
  transition: opacity 4s ease-out;

  .names-text {
    h1 {
      font-size: 100px;
      line-height: 90px;
      margin-top: 50%;
      margin-bottom: 20px;
      letter-spacing: -1px;
      font-family: 'Playlist Script', serif;
      color: #6f738a;
      .italic {
        font-style: italic;
        font-family: 'Apple Chancery', sans-serif;
        font-size: 120px;
        vertical-align: middle;
      }
    }
    h5 {
      font-size: 16px;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 0.1em;
      margin-bottom: 20px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 800;
    }
  }

  .center {
    padding: 19px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 100px;
      line-height: 90px;
      margin-bottom: 20px;
      letter-spacing: -1px;
      font-family: 'Playlist Script', serif;
      color: #6f738a;
      .italic {
        font-style: italic;
        font-family: 'Apple Chancery', sans-serif;
        font-size: 120px;
        vertical-align: middle;
      }
    }
    .hr {
      border-top: 1px dotted;
      color: pink;
      text-align: center;
      max-width: 100px;
      margin-top: 20px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .hr::after {
      content: '\f004';
      font-family: 'Font Awesome 5 Free';
      color: pink;
      display: inline-block;
      position: relative;
      top: -20px;
      padding: 0 10px;
      font-size: 28px;
    }
  }

  .title {
    font-family: 'Lora', serif;
    font-size: 35px;
    margin-top: 0px;
    letter-spacing: 0.3px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 1.1;
  }
}

.center:before {
  background: #fafafa !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
  content: '';
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.margin1 {
  margin-top: 50px;
}

@media only screen and (max-width: 2024px) {
  .title-page {
    height: 1000px;
    .names-text {
      h1 {
        font-size: 250px;
        line-height: 190px;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .title-page {
    height: 500px;
    .names-text {
      h1 {
        font-size: 100px;
        line-height: 90px;
        margin-top: 50%;
        margin-bottom: 20px;
        letter-spacing: -1px;
      }
    }
  }
}
